/* MainPage.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh; /*전체 뷰포트 높이*/
}

nav {
    display: flex; /* Flexbox를 사용하여 버튼들을 정렬 */
    justify-content: space-around; /* 버튼들이 공간을 균등하게 나누어 사용하도록 설정 */
    align-items: center;
    background-color: #007bff; /* 파랑 계열 배경색 */
    padding: 10px;
    border-radius: 10px; /* 모서리를 둥글게 */
    width: 300px; /* 너비 설정 */
    margin-bottom: 20px;
}

button {
    color: white; /* 버튼 텍스트 색상 */
    background-color: #0056b3; /* 버튼 배경색 */
    border: none;
    padding: 10px 20px;
    border-radius: 5px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스 오버 시 커서 변경 */
    transition: background-color 0.3s; /* 배경색 변경시 트랜지션 효과 */
    
}

button:hover {
    background-color: #003580; /* 마우스 오버 시 버튼 배경색 변경 */
}

main {
    background-color: #e5eef1;
    border-radius: 10px;
    /* 메인 콘텐츠 영역 스타일링 */
}

.selectButton.clicked{
    background-color: #0056b3; /* 선택된 페이지의 배경색을 여기에 지정하세요 */
    color: #fff; /* 선택된 페이지의 텍스트 색상을 여기에 지정하세요 */
    border: 3px solid #14467c;
}

.buttonDIV {
    flex-direction: row;
    justify-content: space-around;
    
}

.loginDIV {
    display: flex;
    flex-direction: row;
}

form {
    flex-direction: row;
    width: 100px;
}

input {
    flex-direction: row;
    width: 100%;
    margin-bottom: 0px;
}

.btn{
    margin-bottom: 0px;
    margin-top: 15px;
    padding: 5px 10px;
    margin-left: 30px;
}

.btn2{
    padding: 5px 10px;
    margin-top: 10px;
    margin-left: 30px;
}

.logoutDIV{
    display: flex;
    flex-direction: row;
}

.searchInput{
    width: 200px;
    margin-bottom: 10px;
    margin-right: 1px;
}

.labelClass{
    margin-top: 12px;
}