/* ProductList.css */
.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 700px; /* 리스트 전체의 폭 설정 */
}

.product-header, .product-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.product-header > div, .product-row > div {
    flex: 1; /* 각 div 요소의 크기를 동일하게 설정 */
    text-align: center; /* 텍스트를 중앙 정렬 */
}

.product-header {
    font-weight: bold;
    background-color: #f8f8f8;
}

.product-row img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0 auto; /* 이미지를 해당 div 내에서 중앙 정렬 */
}

.pageButton {
    border: none;
    padding: 10px 15px;
    margin: 5px;
    margin-top: 30px;
    background-color: #4f6072;
}

.pageButton.clicked {
    background-color: #007bff; /* 선택된 페이지의 배경색을 여기에 지정하세요 */
    color: #fff; /* 선택된 페이지의 텍스트 색상을 여기에 지정하세요 */
  }

.arrow{
    border: none;
    padding: 10px 15px;
    margin: 5px;
}